<!DOCTYPE html>
{% extends 'common/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    Choosing Distillery
{% endblock %}

{% block body_block %}
    <h1>Choosing Distillery</h1>

    <div>        
        <p>You can view the distillery you are interested in and 
            chat with others who have the same interest.</p>
    </div>
    <div>
        <ul id="distillery-list">
            <li class="distillrey-item">
                <div>
                    <a href=" ">
                        <img height="100" width="100" src=" ">
                    </a>
                </div>
                <span class="distillrey">
                    <p>
                        <a href=" ">distillrey name</a>
                    </p>
                </span>
            </li>
            <li class="distillrey-item">
                <div>
                    <a href=" ">
                        <img height="100" width="100" src=" ">
                    </a>
                </div>
                <span class="distillrey">
                    <p>
                        <a href=" ">distillrey name</a>
                    </p>
                </span>
            </li>       
            <li class="distillrey-item">
                <div>
                    <a href=" ">
                        <img height="100" width="100" src=" ">
                    </a>
                </div>
                <span class="distillrey">
                    <p>
                        <a href=" ">distillrey name</a>
                    </p>
                </span>
            </li>       
        </ul>              
    </div>
{% endblock %}